<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2013 - 2017</p>
              <div class="h5">Diploma</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Diploma of Engineering Technology in Computer and Networking</div>
               <h4 class="category">UNIVERSITY KUALA LUMPUR: MALAYSIAN INSTITUTE OF INFORMATION TECHNOLOGY(MIIT)
               </h4>
               <ul>
                    <li>Completed Diploma with <b>2.88 CGPA</b>.</li>
                 <li>Major in Networking Course.</li>
                 <li>Learn to do website designs and develop using HTML, CSS and PHP.</li>
                 <li>Learn CISCO router and switching configuration.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2008 - 2012</p>
              <div class="h5">Secondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">SEK. MEN. KEB. DATO’ SYED OMAR
               </h4>
               <ul>
                <li>
                  The High School was mainly focus on the bases of Geography, Additional Mathematics, Physics, Biology and Chemistry
                                  </li>
                                  <li>
                                      SPM<b> 2A 2B 6C</b>.
                                  </li>
                                  <li>
                                    PMR<b> 3A 5B</b>.
                                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2007</p>
              <div class="h5">Primary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Primary School</div>
               <h4 class="category">SEK. KEB. TAMAN RAKYAT
               </h4>
               <ul>
                <li>
                    UPSR <b>4A 1B</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>