<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/myspr.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Suruhanjaya Pilihan Raya Malaysia (SPR) Website - MySPR</h4>
          <h5 class="card-text"><b>Technology :</b> Laravel Framework, HTML5, Javascript, CSS, PHP, Bootstrap </h5>
            <div class="card-text"><b>Description :</b>
              <ul>
                <li>SPR website using Laravel Framework, while Bootstrap, HTML, CSS and Javascript as frontend & PHP as backend.</li>
                <li>My module purpose is to make DPI(Data Pemilih Induk) update for voters.</li>
                <li>Using webpack for compiling javascript file.</li>
                <li>Creating enum for easier to call for constant variable.</li>
              </ul>
            </div>
           
          <!-- <a href="https://github.com/cruzerblade95/tudungpeople" class="btn btn-primary stretched-link"><i class="fa fa-github"></i> GithubLink</a> -->
        
        </div>
      </div>
    </div>
    </div>

       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/project1.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">TudungPeople Website Designs</h4>
          <h5 class="card-text"><b>Technology :</b> HTML5, Javascript, CSS, PHP, Bootstrap </h5>
            <div class="card-text"><b>Description :</b>
              <ul>
                <li>E-commerce website using HTML, CSS and Javascript as frontend & PHP as backend.</li>
                <li>This website using TudungPeople brand as example and make custom designs and animations using CSS and Javascript.</li>
              </ul>
            </div>
           
          <a href="https://github.com/cruzerblade95/tudungpeople" class="btn btn-primary stretched-link"><i class="fa fa-github"></i> GithubLink</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/project2.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">TudungPeople Puzzle Authentication</h4>
           <h5 class="card-text"><b>Technology :</b> PHP, MYSQL </h5>
    
           <div class="card-text"><b>Description :</b>
            <ul>
              <li>This plugin is self made by myself by using PHP array.</li>
              <li>This plugin purpose was to prevent password Eavesdropping Attack.</li>
              <li>This plugin uses 3 types of method which is alphabetic puzzle, 4 last character from password and 4 unique key for encryption.</li>
            </ul>
          </div>
    
          <a href="https://github.com/cruzerblade95/tudungpeople" class="btn btn-primary stretched-link"><i class="fa fa-github"></i> GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/project3.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">iResBot Home Security Robot</h4>
          <h5 class="card-text"><b>Technology :</b> Python, Arduino, Android Studio </h5>
          <div class="card-text"><b>Description :</b>
            <ul>
              <li>This project was build using Python for the face recognition camera, Arduino for the movement of the car and Android Studio for GUI Car Controller.</li>
              <li>This project won <b>Gold</b> in Melaka International, Intellectual Exposition 2019(MIIEX 2019) in Innovative Category.</li>
              <li>Duration for the project to complete before MIIEX tournament is 4 months.</li>
            </ul>
          </div>
        <a href="https://drive.google.com/file/d/1yuZtRSqqTgyf383zwIsXPz7f2nkYhz-a/view?usp=sharing" class="btn btn-primary stretched-link ml-2 mr-5">Video 1</a>
          <a href="https://drive.google.com/file/d/1DA86L8VvHKl6AWb34PJR8ckNzYY9_h3z/view?usp=sharing" class="btn btn-primary stretched-link">Video 2</a>
        </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/project4.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Adli's Healthcare App</h4>
           <h5 class="card-text"><b>Technology :</b> Android Studio, REST </h5>
           <div class="card-text"><b>Description :</b>
            <ul>
              <li>This project was for students in UniKL MIIT for his Final Year Project.</li>
              <li>Purpose for this app is to track everyone Health measurement, food and medicine intake.</li>
              <li>This app also has Pedometer function to track everyone daily walking or jogging sessions.</li>
            </ul>
          </div>
           <a href="https://drive.google.com/drive/folders/1X95HuQwkEd7wNTvnESWTKnI2aJ0A42Hp?usp=sharing" class="btn btn-primary stretched-link ml-2 mr-5">Project APK Download</a>
        </div>
    </div>
    </div>
      </div>
    
       
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/project5.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Petronas OCC</h4>
           <h5 class="card-text"><b>Technology :</b> Angular, Typescript, REST </h5>
           <div class="card-text"><b>Description :</b>
            <ul>
              <li>This project is for intern student at Petronas.</li>
              <li>The purpose is to help OCC teams to manage and view their status for maintenance in every Petronas's petrol pumps and servers</li>
              <li>This project is currently on going and will be available later.</li>
            </ul>
          </div>
          <a href="https://github.com/cruzerblade95/Petronas-OCC" class="btn btn-primary stretched-link"><i class="fa fa-github"></i> GithubLink</a>
        </div>
        </div>
        </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
           <div class="card" >
        <img class="card-img-top" src="assets/images/project6.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">TalibanGang Music Profile Website</h4>
           <h5 class="card-text"><b>Technology :</b> HTML, CSS, Javascript </h5>
           <div class="card-text"><b>Description :</b>
            <ul>
              <li>This project is for our local music band in making each of their team members profile and music.</li>
              <li>The duration for this project is only 1 week.</li>
            </ul>
          </div>
          <a href="https://talibangang.netlify.app/" class="btn btn-primary stretched-link ml-2 mr-5">Website Link</a>
        </div>
        </div>
        </div>
        </div>
    
    
     <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/project7.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">These Hxxs Music Videos</h4>
          <h5 class="card-text"><b>Technology :</b> Adobe Premiere Pro </h5>
         <a href="https://drive.google.com/file/d/1Gha2q84nFvVWtZz9ommEQ6T6WShBZDdN/view?usp=sharing" class="btn btn-primary stretched-link ml-2 mr-5">Video Teaser</a>
          <a href="https://drive.google.com/file/d/1TL0GxdIK4tUPZaDIUGJ4QO-jfLDiKkH5/view?usp=sharing" class="btn btn-primary stretched-link">Full Music Video</a>
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/project8.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">ForReal Music Video</h4>
           <h5 class="card-text"><b>Technology :</b> Adobe Premiere Pro </h5>
       <a href="https://drive.google.com/file/d/1G97lsNr0lPQLNEH9NStVPmClsn0nIFOD/view?usp=sharing" class="btn btn-primary stretched-link ml-2 mr-5">Full Music Video</a>
        </div>
        </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/project9.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">RC Cafe Banner</h4>
           <h5 class="card-text"><b>Technology :</b> Adobe Illustrator </h5>
       <a href="https://drive.google.com/file/d/1_I0icFPD3s2rgm0kpKKoK0x5__J48hKz/view?usp=sharing" class="btn btn-primary stretched-link ml-2 mr-5">Full Image</a>
        </div>
        </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/project10.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Muna's Bakery Banner</h4>
           <h5 class="card-text"><b>Technology :</b> Adobe Illustrator </h5>
       <a href="https://drive.google.com/file/d/1MiPRSi-xgj4_SJkVTROWpyKchYzr4i2r/view?usp=sharing" class="btn btn-primary stretched-link ml-2 mr-5">Full Image</a>
        </div>
        </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/project11.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Petronas's OCC Logo</h4>
           <h5 class="card-text"><b>Technology :</b> Adobe Illustrator </h5>
       <a href="https://drive.google.com/file/d/14hNYFzCBsnuoHhpbp71pJj2CKiY3zroo/view?usp=sharing" class="btn btn-primary stretched-link ml-2 mr-5">Full Image</a>
        </div>
        </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/project12.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Grizzle Bundle Logo</h4>
           <h5 class="card-text"><b>Technology :</b> Adobe Illustrator, Adobe Photoshop </h5>
       <a href="https://drive.google.com/file/d/14hNYFzCBsnuoHhpbp71pJj2CKiY3zroo/view?usp=sharing" class="btn btn-primary stretched-link ml-2 mr-5">Full Image</a>
        </div>
        </div>
        </div>
      </div>
    
      
    
    
    </div>
    </div>
  </div>